<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Department Management</h5>
            <button class="btn btn-success mb-3" (click)="addDepartment()"><i class="bi bi-plus"></i> Add Department</button>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Department</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (dep of departments; track dep.id; let i = $index) {
                  <tr>
                    <td>{{ dep.name }}</td>
                    <td>
                      <button title="Edit" name="Edit" class="btn btn-sm btn-primary rounded-pill mx-2" (click)="editDepartment(dep)">
                        <i class="bi bi-pencil-square"></i>
                      </button>
                      <button title="Delete" name="Delete" class="btn btn-sm btn-outline-danger rounded-pill mx-2" (click)="deleteDepartment(dep.id)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                 }
                 <tr *ngIf="departments.length === 0">
                  <td colspan="6">
                    <div class="bg-warning-subtle p-2 rounded my-2 text-center">
                      <i class="bi bi-exclamation-triangle-fill text-warning"></i>
                      <span> No departments found.</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-department-add-modal [selectedDepartment]="selectedDepartment" [departments]="departments" (departmentSaved)="loadDepartments()"></app-department-add-modal>
</main>
